
.vs/ponytail_channel/v17/.wsuo
.vs/VSWorkspaceState.json
js/.vs/slnx.sqlite
.vs/ponytail_channel/FileContentIndex/b6d31f29-781e-4ae4-ac27-bf20280c39da.vsidx
js/.vs/js/FileContentIndex/77749c79-c4b5-456a-94f7-2f8f4d46efa1.vsidx
*.vsidx
